body{
    text-align:center;
    justify-content: center center;
    font-family: 'Staatliches', cursive;
}
.container{
    width:800px;
    height:500px;
    background-color:#a6f6f1;
    margin:auto;
    justify-content:center;
}

.title{
    padding:50px;
    font-size:2rem;

}

.timer{
    padding:40px;
    font-size:30px; 
    font-family: 'Krona One', sans-serif;
}

.button-timer{
    font-size:1.7rem;
    margin:10px;
    background-color:#03c4a1;
    border-radius:10%;
    border:0;
    font-family: 'Krona One', sans-serif;
    
}